/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@100;300;500;600&family=Quicksand:wght@300;400;500&display=swap');*{
    box-sizing: border-box;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

@import url("https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css");


body{
    margin: o;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
}

:root {
    --main-color:#e72929;
}