<app-search></app-search>
<app-tags></app-tags>
<ul>
    <li *ngFor="let food of food">
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="">
            <div class="content">
                <div class="top">
                    <div class="name">
                        {{food.name}}
                    </div>
                    <button class="favorite {{food.favorite?'':'not'}}" (click)="makeFav(food)">
                        ❤
                    </button>
                </div>
                <div class="product-item-footer">
                    <div class="origins">
                        <span>
                            {{food.origins}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕒</span>
                        {{food.cookTime}} min
                    </div>
                </div>
                <div class="price">
                    <span>
                        ${{food.price}}.00
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>

